
  body {
   
  }

  .App {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100vh; 
  }
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aquamarine;
    padding: 10px;
}
header a{
  text-decoration: none;
  color: black;  
  text-transform: uppercase;
}